@import 'https://fonts.googleapis.com/css?family=Comfortaa|Roboto:400,700';
html{
	margin:0;
	padding:0;
	background-color: #FEFEFE;
}
body{
	margin: 0; padding: 0;
	top:0; left:0;
}
.bodywrap{
	margin:0; padding: 0;

}
/*SHARE NAV*/
.teatime-info{
	position: absolute;
	top:0; left:90%;
}
.teatime-info .teatime-share{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 1.15em;
	margin: 20px 0 0 0;
}
.teatime-share-link{
	opacity: 0;
	cursor: pointer;
	width:32px; height: 32px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom:10px;
	transform: translateY(-400%);

}
.teatime-share .teatime-share-link{
	transition: transform 700ms ease-in-out;
}
.teatime-share:hover .teatime-share-link{
	opacity: 1;
	transform: translateY(0%);
}
/*MAIN TEA BODY*/
.teatime-main-wrap{
	margin: 0 auto;
}
.teatime-header, .teatime-body{
	position: relative;
	width:60%;
	margin: 0 auto;
}
.teatime-logo{
	width: 35%;
	margin: 0 auto;
}
.teatime-logo h1{
	margin: 0 auto;
	padding: 1%;
	width: 80%;
	font-family: 'Roboto';
	font-weight: 700;
	text-align: center;
	border: 3px solid #111;
}
.teatime-logo img{
	display: block;
	margin: 0 auto;
	padding: 3% 0;
}
.teatime-hold{
	margin: 0 auto;
	width: 95%;
	height: auto;
	max-width: 550px;
	max-height: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.teatime-view{
	position: absolute;
	margin: 0; padding: 0;
	top: 0;
	width: 100%;
	max-width: 550px;
	height: 0%;
	background-color: #ecf0f1;
	z-index: 10;
	transition: height 500ms ease;
}
.teatime-view .view-close{
	display: none;
	position: absolute;
	right: -3%; top: -3%;
	height: 32px;
	width: 32px;
	cursor: pointer;
	border-radius: 50%;
	font-family: 'Comfortaa';
	font-size: 1.5em;
	text-align: center;
	line-height: 1.15em;
	background-color: #95a5a6;
	transition: transform 300ms ease;
}
.teatime-view .view-close:hover{
	background-color: #e74c3c;
	transform: scale(1.1);
}
.teatime-view .view-timer{
	display: none;
	position: relative;
	width: 85%;
	height: 85%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto';
	top: 50%;
	transform: translateY(-50%);
	border-top: 4px solid #ecf0f1;
	border-bottom: 4px solid #ecf0f1;
	border-radius: 50%;
}
.teatime-view .view-timer .timer-hold{
	transform: translateY(100%);
}
.teatime-view .view-timer .timer-hold .teaname{font-size: 1.25em;margin-top: 0}
.teatime-view .view-timer .timer-hold .teaname #teaname_place{text-transform: uppercase; font-family: 'Comfortaa';}
.teatime-view .view-timer .timer-hold .teatimer{font-size: 5em; margin: 0; color:inherit;}

.tea-selection{
	position: relative;
	flex: 0 0 15%;
	margin: 3% 0;
	max-width:400px;
	min-width: 150px;
	width:90%;
	padding: 4% 0;
	cursor: pointer;
}

.tea-selection p{
	font-family: 'Comfortaa';
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
	margin: 1%;
	padding: 0;
}
.tea-selection img{
	display: block;
	margin: 0 auto;
	max-height: 64px;
	width: auto;
	padding-top: 10px;
	transition: opacity 300ms ease-in-out;
}
.tea-selection .tea-time{
	margin: 0; padding: 0;
	position: absolute;
	top:50%; left: 33.3%;
	color: #212724;
	z-index: 5;
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}
/*TEA SELECTION COLORS*/
#white{background-color: #dadfe1;}
#green{background-color: #2ecc71;}
#black{background-color: #4e4e4e;}
#darjeeling{background-color: #a867d5;}
#oolong{background-color: #f3983f;}
#prueh{background-color: #2e9ecc;}
#herbal{background-color: #f7ca18;}
#roobios{background-color: #d5393a;}
#mate{background-color: #99cc99;}

.tea-selection:hover img{ opacity: 0; }
.tea-selection:hover .tea-time{opacity: 1;}

/*CREDIT LINK*/
#credit-link{
	position: absolute;
	bottom:0;
	padding: 4px 0;
	width: 100%;
	color: #EA5437;
	text-align: center;
	text-decoration: none;
	font-family: 'Comfortaa';
	background-color: #E4E4E4;
}

@media (max-width:1000px){
    .teatime-info{
    	left:80%;
    	z-index: 10;
    }
    .teatime-info .teatime-share{
    	font-size: 1em;
    }
	.teatime-share .teatime-share-link{
		opacity: 1;
		transform: translateY(0%);
	}
	.teatime-logo{
		width: 50%;
	}
    .teatime-header, .teatime-body{
    	width:100%;
    }
    .teatime-hold{
    	width:100%;
	}
	.teatime-hold .tea-selection{
		margin: 3% 0;
		min-width: 101px;
		padding: 1% 0;
	}
	.tea-selection p{
		font-size: .95em;
	}
	.tea-selection img{
		max-height: 50px;
		padding: 5px 0;
	}
	.tea-selection .tea-time{
		position: relative;
		top:0; left:0;
		opacity: 1;
	}
	.teatime-view{
		width: 95%;
	}
	.teatime-view .view-timer .timer-hold{
		width: 80%;
		margin: 0 auto;
		transform: translateY(50%);
	}
	.teatime-view .view-timer .timer-hold .teaname {
		font-size: 1.12em;
	}
}